/* Import Roboto Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background: #fff;
}

.container .img-box {
    position: relative;
    width: 300px;
    height: 200px;
    border-radius: 25px;
    overflow: hidden;
    cursor: pointer;
}

.container img {
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.6s;
    background: rgba(51, 51, 51, 0.94);
}

.img-box:hover .overlay {
    opacity: 1;
}

.img-box:active .overlay {
    background: rgb(102, 102, 102);
}

.label {
    position: absolute;
    left: 10%;
    top: 0;
    width: 30%;
    height: 12%;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    transform: translateY(-24px);
    z-index: 1;
    transition: 0.5s ease-in-out;
    color: #fff;
    background-color: dodgerblue;
}

p.label-content {
    margin-top: 5px;
}

.img-box:hover .label {
    transform: translateY(0);
}

h4 {
    position: absolute;
    right:50%;
    top: 15%;
    opacity: 0;
    font-size: 20px;
    font-weight: 600;
    z-index: 1;
    transition: 0.5s;
    color: #fff;
}

.img-box:hover h4 {
    opacity: 1;
    transform: translateX(50%) translateY(-15%);
}

.circle-btn {
    position: absolute;
    right: 10%;
    bottom: 5%;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    transition: 0.5s;
    transform: translateY(16px);
    opacity: 0;
    background-color: dodgerblue;
}

i.fa-regular.fa-hand-pointer {
    position: absolute;
    right: 18px;
    bottom: 16px;
    color: #fff;
}

.img-box:hover .circle-btn {
    opacity: 1;
    transform: translateY(0);
}

.circle-btn:hover {
    background-color: hsl(210, 100%, 40%);
    transition: 0.6s;
}

.circle-btn:active {
    background-color: hsl(210, 100%, 60%);
}
